:root{
    --blue-main: rgb(29, 155, 240);
    --hover-buttons: rgba(15, 20, 25, 0.1);
    --hover-blue-icon: rgba(29, 155, 240, 0.1);
    --black: #000;
    --white: #fff;
    --gray-text: #536471;
    --border-color: rgb(239, 243, 244);
    --tweet-color: #0f1419;
    --background-card: rgb(247, 249, 249);
    --background-input: rgb(239, 243, 244);
    --background-card-hover: rgb(0,0,0,0.03);
    --light-blue: #cfd9de;
}